[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "spatPomp"]
	path = spatPomp
	url = https://github.com/kidusasfaw/spatpomp
	shallow = true
	registered = true
